<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Head Uksed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/welcome.css">
  </head>
  <body>
    <div id="page-container">
      <nav id="my-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle"> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Head Uksed</a>
          </div>
          <div id="navbar-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="../../index.html">Home</a></li>
                    <li><a href="layouts/application.html.erb">Portfolio</a></li>
                    <li><a href="html/pages/contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <header>         
        <div class="cover jumbotron">
          <h1>Head Uksed</h1>
          <h2>Since 1992</h2>
        </div>
      </header>
      <div id="about">  
        <div class="row">
          <div class="col-xs-12 center"> 
            <h1>Our workflow is EASY</h1>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-box"><a href="#">
              <div class="text-box">
                <p>Make your order easily by sending us any example of what you wish to have              </p>
              </div><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></div>
          <div class="icon-box">
            <div class="text-box">
              <p>We will study your order and send you a completion date along with the price</p>
            </div><span aria-hidden="true" class="glyphicon glyphicon-option-horizontal"></span>
          </div>
          <div class="icon-box">
            <div class="text-box">
              <p>After completion we will deliver and install all inclusive in the price given</p>
            </div><span aria-hidden="true" class="glyphicon glyphicon-send"></span>
          </div>
        </div>
      </div>
      
      <div id="content">
        <div class="container"> 
          <div class="row"> 
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-1"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-2"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-3">             </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-4"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-5"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile">  
        <div class="profile-pic">                   
         <%= image_tag("arina2.jpg", :alt => "Valentine Vesman") %>
        <div class="profile-text">
          <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
      </div>
    </div>
    <footer class="sitefooter">
      <h3>Copyright &copy; Euphoria Family</h3>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/jquery.js"></script>
  </body>
</html>
