
  
    
      <header>         
        <div class="cover jumbotron">
          <h1 class="h1"><%= t ".title" %></h1>
          <h2><%= t ".cover-date" %></h2>
        </div>
      </header>
      <div id="about"> 
        <div class="main-container">
          <div class="year-box box"><i class="fa fa-thumbs-o-up fa-4x"></i>
            <div data-count='26' class="counter">0</div>
            <div class="text">years of experience</div>
          </div>
          <div class="customer-box box"><i class="fa fa-smile-o fa-4x"></i>
            <div class="div">
              <div data-count='100' class="counter">0</div>
              <p>%</p>
            </div>
            <div class="text">Satisfied customers</div>
          </div>
          <div class="doors-box box"><i class="fa fa-truck fa-4x"></i>
            <div data-count='12945' class="counter">0</div>
            <div class="text">Doors delivered</div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container"> 
          <div class="row"> 
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-1">
              
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-2"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-3">             </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-4"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-5"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gallery">
              <div class="gallery-item item-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="profile">  
        <div class="profile-pic">                   
         <%= image_tag("arina2.jpg", :alt => "Valentine Vesman") %>
        <div class="profile-text">
          <p><%= t ".profile-text" %></p>
        </div>
      </div>
  



