<div class="skinny-wrapper wrapper-padding"> 
          <h1>Contact us </h1><br>
          <h2>Thank you for your message! </h2>
          <p>We will check your request and will get back to you soon! </p>
          
    </div>