<div class="row">
  <%= @items.each do |item| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag item.image.url(:medium), class: 'image'), item %>
      </div>
    </div>
  <% end %>
</div>
