<div class="container index ">
 <div class="row " >
    <% @items.each do |item| %>
      <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
          <%= link_to (image_tag item.image.url(:medium), class: 'image'), item %>
          <%= item.title %>
        </div>
      </div>
    <% end %>
  </div>
</div>
