

* {

  font-family: 'Archivo Narrow', sans-serif;
}

a {
    font-family: 'Fjalla One', sans-serif;

  }

html body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
}

a {

  color: #fec15f ;
}

a:hover {

  color: #593723;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
#page-container {
  flex: 1;
}

ul {
  list-style: none;
  margin-top: 5px;
}

ul li a {
  font-size: 1.5em;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -70px;
  padding: 0 0 70px;
}

#navbar-collapse {
  padding-top: 5px;
  .navbar-nav .active a {
    background: none;
    bottom: 0;
    left: 0;
    font-weight: bold;
    color: whiteSmoke;
  }
}

.nav {
  padding-top: 5px;

}

#my-navbar {
  background-color: rgba(89, 55, 35, 0.9);
  border-color: rgba(89, 55, 35, 0.9);
  a {
    font-family: 'Fjalla One', sans-serif;
    color: #e8e8e8;
    margin-left: 25px;
    text-decoration: none;
    &:hover {
      color: #e8e8e8;
    }
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #e8e8e8;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    }
}

@media screen and (max-width: 767.5px) {
  .logo {
    display: none;
  }
}


#push {
  height: 70px;
}

.sitefooter {
  width: 100%;
  bottom: 0;
  height: 70px;
  background-color: whiteSmoke;
  color: rgb(89, 55, 35);
  border-top: 2px rgba(89, 55, 35, 0.9) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.sitefooter h3 {
  margin: auto;
}

.jumborton {
  color: #e8e8e8
}

.cover {
  margin-top: 0px;
  background-image: linear-gradient(#fec15f, transparent 50%), linear-gradient(to top, #f5f5f5, transparent 30%), image-url("door1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  min-height: 700px;
  margin-bottom: 100px;
  color: #e8e8e8;

}

.cover .h1 {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  margin-top: 80px;
  color: #e8e8e8;
  font-size: 6em;


}

.cover h2 {
  text-align: center;
  margin-bottom: 0;
  padding-top: 0;
  color: #e8e8e8;
}


#about {
  margin: 150px 0px 150px 0px;
}

#about .icon-container {
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 920px) {
  #about .icon-container {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

#about .glyphicon {
  font-size: 10em;
  color: #fec15f;
  text-align: center;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: .2s;
}

@media screen and (max-width: 1150px) {
  #about {
    margin: 0px 0px 100px 0px;
  }
}

#about .center {
  text-align: center;
}

#about h1 {
  margin-bottom: 100px;
  text-decoration: underline;
}

#about .icon-box {
  height: 200px;
  width: 200px;
  position: relative;
  float: left;
  border: solid;
  border-radius: 50%;
  border-color: #fec15f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-radius;
  transition-duration: .4s;
  transition-delay: .3s;
  transition: transform 1s .3s;
}

@media screen and (max-width: 1150px) {
  #about .icon-box {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

#about .icon-box .text-box {
  background-color: #fec15f;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-delay: 0;
  transition-duration: .1s;
}

#about .icon-box .text-box p {
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
}

#about .icon-box:hover {
  border-radius: 0;
  transition-property: border-radius;
  transition-duration: .6s;
  transition-delay: 0s;
  transform: scale(1.45);
  transform-origin: center;
  transition: transform 2s;
}

#about .icon-box:hover .glyphicon {
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;
  transition-delay: 0s;
}

#about .icon-box:hover .text-box {
  opacity: 1;
  transition-property: opacity;
  transition-duration: .3s;
  transition-delay: .3s;
}

.icon-box:nth-child(1) .glyphicon {
  padding-left: 8px;
  padding-bottom: 8px;
}

.icon-box:nth-child(2) .glyphicon {
  padding-right: 11px;
  padding-top: 11px;
}

.icon-box:nth-child(3) .glyphicon {
  padding-right: 30px;
  padding-bottom: 2px;
}

.gallery .gallery-item {
  height: 350px;
  width: 150px;
  background:image-url("Door_glass_1.jpg");
  display: block;
  margin: auto;
  margin-bottom: 70px;
}

.gallery .item-2 {
  background:image-url("Doors_glass_2.jpg");
}

.gallery .item-3 {
  background:image-url("Doors_design_1.jpg");
}

.gallery .item-4 {
    background:image-url("Doors_wood_wave_1.jpg");

}

.gallery .item-5 {
    background:image-url("Doors_modern_1.jpg");

}

.gallery .item-6 {
    background:image-url("Doors_modern_2.jpg");

}

.profile {
  min-height: 700px;
  background-image: linear-gradient(#fff, transparent 50%), image-url("wood2.jpg");
  background-position: 40% 80%;
  margin-bottom: 0;
  margin-top: 200px;
  min-width: 100%;
  position: relative;
  text-align: center;
}

.profile .profile-pic img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  padding-top: 0;
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: -110px;
}

.profile .profile-text {
  text-align: center;
  height: 680px;
  background-color: rgba(45, 16, 0, 0.45);
  color: white;
  border-bottom: black;
  font-size: 1.3em;
  border-radius: 20%;
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .profile .profile-text {
    max-width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .profile .profile-text {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .profile .profile-text {
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .profile .profile-text {
    max-width: 100%;
  }
}

.profile .profile-text p {
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
  color: solid white;
}

.contactContainer{
  padding-bottom: 5rem;
}


.skinny-wrapper {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;

}

.wrapper-padding {
  padding-top: 10rem;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 2px solid #fec15f;
  padding: 1em;
  margin: .5em 0 2em 0;
  outline: none;
}

textarea {
  min-height: 20em;
}

.button, button[type="submit"] {
  outline: none;
  background: transparent;
  border: 2px solid #fec15f;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  padding: 1em 2em;
}

.button:hover, button[type="submit"]:hover {
  border: 2px solid #593723;
  color: #593723;
}

.hidden {
  display: none;

}


.index {
  margin-top: 150px;
  margin-bottom: 40px

}

.items-title {
text-align: center;
}

.thumbnail {
  border: none;

}

.paginate {
margin-bottom: 50px;
}


.items-show {
  margin-top: 120px;
  margin-bottom: 70px;


}

.items {
  display: flex; 
  justify-content: flex-end;


}

.active1 {
    background: none;
    font-weight: bold;
    color: whiteSmoke;
}

.pagination li a {
    
  outline: none;
  border: 2px solid #fec15f;
  text-decoration: none;
  color: #593723;; 
  font-size: 1em;
  
}

.pagination li a:hover {
    
   outline: none;
  border: 2px solid #593723;
  background-color: white;
  color: #593723;
  
}
.pagination .disabled span {
    
  outline: none;
  background: transparent;
  border: 2px solid #fec15f;
  text-decoration: none;
  color: #593723;
  
}

.pagination .active span {
    
  outline: none;
  background: #fec15f;;
  border: 2px solid #fec15f;
  text-decoration: none;
  color: #593723;
}

.pagination .active span:hover {
    
  outline: none;
  border: 2px solid #593723;
  background-color: white;
  color: #593723;
}

.nav li a:hover {
   color: #593723;
   
}



.nav-tabs {
      border-color: #fec15f;


}

.nav .active  {
  outline: none;
  background: #fec15f;;
  border: 1px solid #fec15f;
  text-decoration: none;
  color: #593723;
  border-bottom: none; 
  border-right: .5px solid #fec15f;}