<footer class="sitefooter">
      <div class="row">
      <h3>Copyright &copy; Euphoria Family</h3>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> HeadUksed@gmail.com 
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <a href="tel:+3725090155"> +372 50 90 155</a>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
   <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>