<footer class="sitefooter">
      <h3>Copyright &copy; Euphoria Family</h3>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"> </script>
    <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
   <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>